* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #DADADE;
    color: #442E26;
    padding: 25px;
}


.listings {
    color: #7F5232;
}

.col-3_side{
    width:100%;
    color: white;
    background-color:dimgrey;
}